<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Favorite Posts</title>
    <link rel="stylesheet" href="/css/tooplate-style.css">
</head>
<body>
<div class="navigation-bar">
    <div class="nav-menu">
        <a href="#" th:href="@{/users/sell-posts}" class="view-my-posts-btn">View My Posts</a>
        <a href="#" th:href="@{/users/favorite-posts}" class="view-my-posts-btn">View My  Favourite Posts</a>

    </div>
    <div class="nav-actions">
        <a th:href="@{/users/all-posts}" class="btn btn-primary">Home</a>+
        <a th:href="@{/users/profile}" class="btn btn-primary">View Profile</a>
        <a th:href="@{/users/logout}" class="logout-btn">Logout</a>
    </div>
</div>
    <div class="content">
        <div th:if="${favoritePosts.isEmpty()}" class="tm-text-center">
            <p>You haven't added any posts to favorites yet.</p>
        </div>

        <div th:unless="${favoritePosts.isEmpty()}" class="post-grid">
            <div th:each="favoritePost : ${favoritePosts}" class="post-card">
                <img th:if="${favoritePost.postId.imageUrl != null}"
                     th:src="${favoritePost.postId.imageUrl}"
                     alt="Post Image"
                     class="post-image">
                <div class="post-details">
                    <h3 th:text="${favoritePost.postId.title}">Post Title</h3>
                    <p th:text="${favoritePost.postId.content}">Post Description</p>
                    <p>Added to Favorites: <span th:text="${#dates.format(favoritePost.date, 'dd.MM.yyyy HH:mm')}">Date</span></p>
                    <div class="post-actions">
                        <a href="#" class="btn btn-primary">View Post</a>
                        <form th:action="@{/users/remove-from-favorites}" method="post">
                            <input type="hidden" name="postId" th:value="${favoritePost.postId.id}">
                            <button type="submit" class="btn btn-secondary">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>