<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1 th:text="'Hello, ' + ${username} + '!'">Hello, User!</h1>

<div>
    <p>Welcome to the Student Marketplace!</p>

    <form th:action="@{/users/logout}" method="get">
        <a th:href="@{/users/logout}" class="tm-btn tm-btn-secondary">Logout</a>

    </form>
</div>

<div class="tm-block-actions">
    <a th:href="@{/users/profile}" class="tm-btn tm-btn-secondary">VIEW profile</a>
</div>
<br>
<div class="tm-block-actions">
    <a th:href="@{/users/show-rules}" class="tm-btn tm-btn-secondary">Show group rules</a>
</div>

</body>
</html>